<div class="row">
    <div class=" two col-md-4 col-sm-12">
        <img src="{{ cardData.image1 }}"
            class="img-thumbnail">
        <p>{{ cardData.text1 }}</p>
    </div>
    <div class=" two col-md-4 col-sm-12">
        <img src="{{ cardData.image2 }}"
            class="img-thumbnail">
        <p>{{ cardData.text2 }}</p>
    </div>
    <div class=" two col-md-4 col-sm-12">
        <img src="{{ cardData.image3 }}"
            class="img-thumbnail">
        <p>{{ cardData.text3 }}</p>
    </div>
</div><br>
